*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.gitignore
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/app/src/main/res/drawable/ic_brand_logo_test.png
/app/src/main/res/drawable/ic_gucci.jpg
/.idea/jarRepositories.xml
/.idea/misc.xml
/app/src/main/res/mipmap-xxhdpi/test_image.png
/.idea/vcs.xml
